node_modules/
*/node_modules/
*.out
npm-debug.log
.DS_STORE
.idea
.node_history
public/
.log
yarn.lock
/dev/chrome
jaxcore-browser-extension/dev/*/*
jaxcore-browser-extension/dev
jaxcore-browser-extension/dev/*
jaxcore-browser-extension/dist
jaxcore-browser-extension/dist/*
jaxcore-browser-extension/temp
jaxcore-browser-extension/temp/*
jaxcore-browser-extension/node_modules/